body
{
  /* overflow: hidden; */
}

.content{
  background-color: rgb(205, 163, 152);
  height: 100vh;
}
.content .container-small
{
  background-color: rgba(0, 0, 0, 0.1);
  width: 60%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:550px) {
  .list
  {
    width: 100%;
    height: 80%;
    background: rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
    position: relative;
  }
}
@media screen and (min-width:550px) {
  .list
  {
    width: 65%;
    height: 80%;
    background: rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
    position: relative;
  }
}


.item .remove_btn
{
  float:right;
  background-color:
}
